# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\project_myself\design_pattern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
